<!DOCTYPE html>
<html>

<head>
  <% if (pageName) { %>
    <title>BestBags | <%= pageName %>
    </title>
    <%} else {%>
      <title>Shopping Cart</title>
      <% } %>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/91abd10b8f.js" crossorigin="anonymous"></script>

        <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/stylesheets/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/custom.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Mapbox -->
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <!-- <div class="row nav-container mx-auto">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="search-container">
            <form class="form-inline" action="/products/search" method="GET">
              <input class="search-input" type="search" placeholder="Search" name="search" />
            </form>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
          <a href="/">
            <img class="logo-img img-fluid" src="/images/shop-icon.png" alt="logo" />
            <h4 class="logo-title">BestBags</h4>
          </a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 right-nav">
          <ul>
            <li>
              <a href="/shopping-cart">
                <i class="fas fa-shopping-cart"></i>
                <% if(session.cart) { %>
                  <span class="badge badge-pill badge-info">
                    <%= session.cart.totalQty %>
                  </span>
                  <% } else { %>
                    <span class="badge badge-pill badge-info">0</span>
                    <% } %>
              </a>
            </li>
            <% if (login) { %>
              <li>
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-user"></i> Welcome <%=currentUser.username%>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user/profile">User Account</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
              </li>
              <% } else {%>
                <li>
                  <a href="/user/signup"> Sign Up</a>
                </li>
                <li>
                  <a href="/user/signin"> Sign In</a>
                </li>
                <% }%>
          </ul>
        </div>
      </div> -->
      <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
          <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp" id="menu_header">
                <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/about-us">Về chúng tôi</a></li>
                <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Sản phẩm</a>
                  <ul class="dropdown-menu">
                    <li><a href="shop.html">Sidebar Shop</a></li>
                    <li><a href="shop-detail.html">Shop Detail</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                  </ul>
                </li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/pages/contact-us">Liên hệ</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
              <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                <li class="side-menu">
                  <a href="#">
                    <i class="fa fa-shopping-bag"></i>
                    <% if(session.cart) { console.log({cart: session.cart.items})%>
                      <span class="badge badge-pill badge-info">
                        <%= session.cart.totalQty %>
                      </span>
                      <% } else { %>
                        <span class="badge badge-pill badge-info">0</span>
                      <% } %>
                      <p>Giỏ hàng</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                <% if (login) { %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" style="font-weight: 300;">
                      <i class="fas fa-user"></i> Chào mừng <%=currentUser.username%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/user/profile">Tài khoản</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/user/logout">Đăng xuất</a>
                    </div>
                  </li>
                  <% } else {%>
                    <!-- <li>
                      <a href="/user/signup"> Sign Up</a>
                    </li>
                    <li>
                      <a href="/user/signin"> Sign In</a>
                    </li> -->
                      <li class="nav-item"><a class="nav-link" href="/user/signup">Đăng ký</a></li>
                      <li class="nav-item"><a class="nav-link" href="/user/signin">Đăng nhập</a></li>
                    <% }%>
                
              </ul>
            </div>
            <!-- End Atribute Navigation -->
          </div>
          <!-- Start Side Menu -->
          <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
              <ul class="cart-list">
                <% if(session.cart) { for(let i=0; i<session.cart.items.length; i++){%>
                  <li>
                    <a href="#" class="photo"><img src="<%= session.cart.items[i].imagePath %>" class="cart-thumb" alt="" /></a>
                    <h6><a href="#"><%= session.cart.items[i].title %> </a></h6>
                    <p><%= session.cart.items[i].qty %>x - <span class="price"><%= session.cart.items[i].price %>đ</span></p>
                  </li>
                <% }} %> 
                
                <!-- <li>
                  <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                  <h6><a href="#">Omnes ocurreret</a></h6>
                  <p>1x - <span class="price">$60.00</span></p>
                </li>
                <li>
                  <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                  <h6><a href="#">Agam facilisis</a></h6>
                  <p>1x - <span class="price">$40.00</span></p>
                </li>-->
                <li class="total">
                  <a href="/shopping-cart" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                  <span class="float-right"><strong>Total</strong>: $180.00</span>
                </li> 
              </ul>
            </li>
          </div>
          <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
      </header>
      <!-- End Main Top -->
      <!-- Start Top Search -->
      <div class="top-search">
        <div class="container">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
          </div>
        </div>
      </div>
      <!-- End Top Search -->