<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="mt-4 mb-4" style="text-align: center;">ĐĂNG NHẬP</h1>
      <% if(errorMsg !=null && errorMsg.length>0) {%>
      <div id="flash-msg" class="alert alert-danger">
        <%=errorMsg %>
      </div>
      <%}%>
      <form action="/user/signin" method="POST">
        <div class="form-group">
          <label for="email">Địa chỉ email</label>
          <input type="email" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="text-center">
          <button type="submit" class="btn hvr-hover">Đăng nhập
          </button>
        </div>
        
          
      </form>
      <p class="mt-3" style="text-align: center;">
        Bạn chưa có tài khoản? <a href="/user/signup"> Hãy đăng ký!</a>
      </p>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
