<%- include ../partials/header %>

  <!-- <div class="container-fluid">
  <% if(successMsg || errorMsg) {%>
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <% } %> -->

  <!-- Breadcrumbs -->
  <!-- <div class="row mt-2">
    <div class="col-md-12 m-auto">
      <%if (breadcrumbs) { %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <% breadcrumbs.forEach(crumb => { if(!crumb.name.startsWith("?")){%>
          <li class="breadcrumb-item" aria-current="page">
            <a href="<%=crumb.url%>"><%= crumb.name %></a>
          </li>
          <%}})%>
        </ol>
      </nav>
      <%} %>
    </div>
  </div> -->
  <!-- Page banner image -->

  <!-- <% if(pageName == 'All Products') { %>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-all-products.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%} else {%> <%categories.forEach( category => {%> <%if(pageName == category.title){%>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-<%=category.slug%>.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%}%> <%})%> <%}%> -->

  <!-- <hr class="gradient-style" />
  
  <div class="row pl-4 pr-4">
    <% products.forEach((product) => { %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-index-box">
      <div class="single-product d-flex flex-column h-100">
        <a
          class="title-link"
          href="/products/<%=product.category.slug%>/<%=product._id%>"
        >
          <img src="<%= product.imagePath %>" alt="Bag" class="img-fluid"
        /></a>
        <div class="product-info">
          <a
            class="title-link"
            href="/products/<%=product.category.slug%>/<%=product._id%>"
          >
            <h6 class="mt-2 mb-2"><%= product.title %></h6></a
          >
          <div class="price">$<%= product.price %></div>
        </div>
        <% if(product.available) {%>
        <a
          href="/add-to-cart/<%=product._id%>"
          class="btn btn-block btn-secondary button-style mt-auto mb-2"
        >
          Add to Shopping Cart
        </a>
        <% } else { %>
        <a
          href="#"
          class="btn btn-block btn-danger button-style-danger mt-2 mb-2"
        >
          Sold out
        </a>
        <%} %>
      </div>
    </div>
    <% }) %>
  </div> -->
  <div class="shop-box-inner">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
          <div class="right-product-box">
            <div class="product-item-filter row">
              <div class="col-12 col-sm-8 text-center text-sm-left">
                <div class="toolbar-sorter-right">
                  <!-- <span>Sắp xếp </span> -->
                  <!-- <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                    <option data-display="Select">Nothing</option>
                    <option value="1">Popularity</option>
                    <option value="2">High Price → High Price</option>
                    <option value="3">Low Price → High Price</option>
                    <option value="4">Best Selling</option>
                  </select> -->
                  <select class="mdb-select show-tick form-control" style="width: 200px;" searchable="Search here..">
                    <option value="" disabled selected>Sắp xếp sản phẩm</option>
                    <option value="1">Mới nhất</option>
                    <option value="2">Giá tăng dần</option>
                    <option value="3">Giá giảm dần</option>
                    <option value="4">Poland</option>
                    <option value="5">Japan</option>
                  </select>
                </div>
                <p>Showing all 4 results</p>
              </div>
              <div class="col-12 col-sm-4 text-center text-sm-right">
                <ul class="nav nav-tabs ml-auto">
                  <li>
                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                  </li>
                  <li>
                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="product-categorie-box">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                  <div class="row">
                    <% products.forEach((product) => { %>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      <div class="products-single fix">
                        <div class="box-img-hover">
                          <div class="type-lb">
                            <p class="sale">Sale</p>
                          </div>
                          <img src="<%= product.imagePath %>" class="img-fluid" alt="Image" style="height: 200px; width: 100%;">
                          <div class="mask-icon">
                    
                            <a class="cart" href="/add-to-cart/<%=product._id%>" style="font-size: 12px;">Thêm vào giỏ hàng</a>
                          </div>
                        </div>
                        <div class="why-text">
                          <h4 style="font-size: 14px;"><%= product.title %></h4>
                          <h5><%= product.price %>đ</h5>
                        </div>
                      </div>
                    </div>
                    <% }) %> 
                 
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="list-view">
                  <% products.forEach((product) => { %>
                  <div class="list-view-box">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="products-single fix">
                          <div class="box-img-hover">
                            <div class="type-lb">
                              <p class="new">New</p>
                            </div>
                            <img src="<%= product.imagePath %>" class="img-fluid" alt="Image" style="height: 300px; width: 100%;">
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                        <div class="why-text full-width">
                          <h4>Lorem ipsum dolor sit amet</h4>
                          <h5> <del>$ 60.00</del> $40.79</h5>
                          <p><%= product.description %> </p>
                          <a class="btn hvr-hover" href="/add-to-cart/<%=product._id%>">Thêm vào giỏ hàng</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %> 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
          <div class="product-categori">
            <div class="search-product">
              <form action="#">
                <input class="form-control" placeholder="Search here..." type="text">
                <button type="submit"> <i class="fa fa-search"></i> </button>
              </form>
            </div>
            <div class="filter-sidebar-left">
              <div class="title-left">
                <h3>Phân loại</h3>
              </div>
              <%categories.forEach( category => {%>
                <a href="/products/<%=category.slug%>/" class="list-group-item list-group-item-action"> <%=category.title%> <small class="text-muted">(150)
                </small></a>
                <% }) %> 
              <!-- <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men"
                data-children=".sub-men">
                <div class="list-group-collapse sub-men">
                  <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse"
                    aria-expanded="true" aria-controls="sub-men1">Fruits & Drinks <small
                      class="text-muted">(100)</small>
                  </a>
                  <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action active">Fruits 1 <small
                          class="text-muted">(50)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 2 <small
                          class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 3 <small
                          class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 4 <small
                          class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small
                          class="text-muted">(20)</small></a>
                    </div>
                  </div>
                </div>
                <div class="list-group-collapse sub-men">
                  <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse"
                    aria-expanded="false" aria-controls="sub-men2">Vegetables
                    <small class="text-muted">(50)</small>
                  </a>
                  <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small
                          class="text-muted">(10)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small
                          class="text-muted">(20)</small></a>
                      <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small
                          class="text-muted">(20)</small></a>
                    </div>
                  </div>
                </div> -->
                <!-- <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(150)
                  </small></a>
                <a href="#" class="list-group-item list-group-item-action"> Grocery <small
                    class="text-muted">(11)</small></a>
                <a href="#" class="list-group-item list-group-item-action"> Grocery <small
                    class="text-muted">(22)</small></a> -->
              </div>
            </div>
            <div class="filter-price-left">
              <div class="title-left">
                <h3>Price</h3>
              </div>
              <div class="price-box-slider">
                <div id="slider-range"></div>
                <p>
                  <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                  <button class="btn hvr-hover" type="submit">Filter</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include ../partials/pagination %>
    <!-- </div> -->
    <%- include ../partials/footer %>